* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  background-color: #485460;
  /* background-color: #485460; */
}
.container {
  width: 100%;
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(40, 46, 48);
  padding: 2vw;
}
.container .toolbox-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
  padding: 1vw;
  border-radius: 0.5vw;

  /* background-color: darkslategray; */
}
.container .btn-container {
  width: 10%;
  height: 10vh;
  background-color: #d3d3d3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 1vw; */
  border-radius: 5vw;
}

.container .btn-container i {
  object-fit: cover;
  font-size: 3vw;
  font-weight: 500;
  color: rgb(50, 57, 59);
}
.container .btn-container i:hover {
  background-color: #485460;
  border-radius: 5vw;
}
.container .toolbox-container .color {
  width: 18%;
  height: 100%;
  background-color: lightsalmon;
  border-radius: 2px;
  cursor: pointer;
}
.container .toolbox-container .red {
  background-color: red;
  margin-right: 10px;
}
.container .toolbox-container .yellow {
  background-color: yellow;
  margin-right: 10px;
}
.container .toolbox-container .green {
  background-color: green;
  margin-right: 10px;
}
.container .toolbox-container .grey {
  background-color: grey;
  margin-right: 10px;
}

/* Display Ticket */

.display-ticket {
  padding: 3vw 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2vw;
}
.display-ticket .ticket-container {
  width: 27%;
  height: 60%;
  background-color: #dfe4ea;
  padding: 1vw;
  border-radius: 1vw;
}
.display-ticket .ticket-color {
  width: 100%;
  height: 0.8rem;
  margin-bottom: 1vw;
  /* background-color: red; */
}
.display-ticket .ticket-lock {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 2vw;
  color: #7f8183;
  cursor: pointer;
}
.display-ticket .ticket-container .red {
  background-color: red;
}
.display-ticket .ticket-container .green {
  background-color: green;
}
.display-ticket .ticket-container .yellow {
  background-color: yellow;
}
.display-ticket .ticket-container .grey {
  background-color: grey;
}
.display-ticket .ticket-container .ticket-id {
  font-size: 22px;
  font-weight: 500;
  color: rgb(114, 114, 110);
  padding-bottom: 1vw;
  /* padding: 1vw 0; */
  border-bottom: 2px solid #1f1c1c;
}

.display-ticket .ticket-container .ticket-area {
  font-size: 30px;
  padding: 1vw 0;
  outline: none;
}
/* Modal Container */

.wrapper-modal {
  width: 100%;
  height: 100%;
  display: none;
}
.modal-container {
  width: 60%;
  height: 50%;
  /* height: 50vh; */
  /* width: 45vw; */
  background: lightblue;
  position: absolute;
  top: 25%;
  left: 20%;
  /* display: none; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  border-radius: 1.4vw;
  /* background-color: #4487ca; */
}
.wrapper-modal .modal-container .color-container p {
  font-size: 1.2vw;
  font-weight: 300;
  padding: 1vw;
}
.modal-container textarea {
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  resize: none;

  border-radius: 1vw;
  background-color: #dfe4ea;
  padding: 2rem;
  font-size: 1.7rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.modal-container .color-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: #0e3441; */
  border-radius: 1vw;
}
.modal-container .color-container .priority-color {
  width: 60%;
  height: 15%;
}
.modal-container .red {
  cursor: pointer;
  background-color: red;
  border-radius: 0.4vw;
}
.modal-container .yellow {
  cursor: pointer;
  background-color: yellow;
  border-radius: 0.4vw;
}
.modal-container .green {
  cursor: pointer;
  background-color: green;
  border-radius: 0.4vw;
}
.modal-container .grey {
  background-color: grey;
  cursor: pointer;
  border-radius: 0.4vw;
}
.modal-container .border {
  cursor: pointer;
  border: 5px solid #1f1c1c;
}
